{{define "content"}}
<div class="row">
    <div class="col-8">
        <h4>{{ .FormTitle }}</h4>
        <form id="formFilter" action="{{ .GetUri }}" method="get">
            {{ .FormContent }}
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12" id="app">
        <el-table ref="filterTable" :data="items" style="width: 100%;" height="500">
            {{ .ColumnsContent }}
        </el-table>
        <el-pagination
            background
            @current-change="handleCurrentChange"
            layout="prev, pager, next"
            :total="count">
        </el-pagination>
    </div>
</div>
{{end}}

{{define "javascript"}}
<script>
    function getUrlVars(url) {
        let hash;
        let myJson = {};
        let hashes = url.slice(url.indexOf('?') + 1).split('&');
        for (let i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            if (hash[1] === '') {
                continue
            }
            myJson[hash[0]] = hash[1];
        }
        return myJson;
    }
    
    function fetchData(query) {
        return new Promise((resolve, reject) => {
            $.get('{{ .Endpoint }}', query, function (res) {
                resolve(res)
            }, 'json')
        })
    }

    function getQuery() {
        let query = {}
        $('#formFilter').find('[name]').each(function () {
            let value = $(this).val()
            if (value !== '') {
                query[$(this).attr('name')] = value
            }
        })
        return query
    }

    function setValueByQuery() {
        let query = getUrlVars(window.location.href)
        $('#formFilter').find('[name]').each(function () {
            let name = $(this).attr('name')
            $(this).val(query[name])
        })
    }

    let app = new Vue({
        el: '#app',
        delimiters: ['${', '}}'],
        data() {
            return {
                items: [],
                count: 0,
            }
        },
        methods: {
            jumpToTop (href) {
                window.top.location.href = href
            },
            fetchData (query) {
                fetchData(query).then(res => {
                    this.items = res.items
                    this.count = res.count
                })
            },
            handleCurrentChange (page) {
                fetchData({...getQuery(), page, pageSize: 10}).then(res => {
                    this.items = res.items
                    this.count = res.count
                })
            }
        },
        created: function () {
            this.fetchData(null)
        }
    })

    $('#btnSubmit').on('click', function () {
        app.fetchData(getQuery())
    })

    // 根据 URL 参数设置查询参数
    window.onload = function () {
        setValueByQuery()
        $('#btnSubmit').trigger('click')
    }
</script>
{{end}}

{{template "default.html"}}
